<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebSite">
<head>
    <title>G3 Infotech - Sua conexão como mundo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="DESCRIÇÃO DO SITE">

    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.g3infotech.com.br">

    <meta itemprop="name" content="G3 Infotech - Sua conexão como mundo">
    <meta itemprop="description" content="DESCRIÇÃO DO SITE">
    <meta itemprop="image" content="https://www.g3infotech.com.br/_img/logog3-04.png">
    <meta itemprop="url" content="https://www.g3infotech.com.br">

    <meta property="og:url" content="https://www.g3infotech.com.br"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="G3 Infotech - Sua conexão como mundo"/>
    <meta property="og:description" content="DESCRIÇÃO DO SITE"/>
    <meta property="og:image" content="https://www.g3infotech.com.br/_img/logog3-04.png"/>
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:width" content="1200"/>
    <meta property="og:height" content="630"/>

    <meta property="article:author" content="630"/>
    <meta property="article:publisher" content="630"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="https://www.g3infotech.com.br">
    <meta name="twitter:creator" content="@meutwitter">
    <meta name="twitter:title" content="G3 Infotech - Sua conexão como mundo">
    <meta name="twitter:description" content="DESCRIÇÃO DO SITE">
    <meta name="twitter:image" content="https://www.g3infotech.com.br/_img/logog3-04.png">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../_cdn/fonticon.css">
    <link rel="stylesheet" href="../_cdn/boot.css">
    <link rel="stylesheet" href="../_cdn/style2.css">
</head>
<body>
<header class="main_header">
    <div class="main_header_context">
        <a href="#" class="logo">
            <img src="../_img/logog3.png" alt="G3 Infotech - Sua conexão como mundo"
                 title="G3 Infotech - Sua conexão como mundo">
        </a><!--logo-->
        <nav class="main_header_nav">
            <ul>
                <li><a href="#" title="Home">Home</a></li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Sobre Nós">Sobre Nós</a></li>
                <li><a href="#" title="Contato">Contato</a></li>
            </ul>
        </nav><!--main_header_nav-->
    </div><!--main_header_context-->
</header><!--main_header-->
<main>
    <div class="main_cta">
        <article class="main_cta_content">
            <header><h1>Conecte seus clientes a sua empresa da melhor maneira possível.</h1></header>
            <p>A sua empresa no topo dos sites de busca mais conhecidos do mercado como o <b>Google</b> e muitos outros.
            </p>
            <p><a href="#" title="Entre em contato com a nossa equipe">Entre em contato</a></p>
        </article><!--main_cta_content-->
    </div><!--main_cta-->
    <section class="main_blog">
        <header>
            <h1 class="icon-blog">Nossos últimos artigos</h1>
            <p>Encontre aqui dicas para seu site, provedor e muito mais..</p>
        </header>
        <article itemscope itemtype="https://schema.org/Article">
            <header>
                <a href="#" itemprop="mainEntityOfPage" title="titulo do post">
                    <img src="_img/post.jpg" alt="Aqui temos um post" title="Aqui temos um post" itemprop="image">
                </a>
                <a href="#" class="category" title="Categoria">
                    <p>Categoria |
                        <time datetime="1994-02-27" itemprop="datePublished">27/02/1994</time>
                        <time datetime="1994-02-27" itemprop="dateModified" style="display: none">27/02/1994</time>
                        |
                        <span itemprop="author" itemscope itemtype="https://schema.org/Person">por
                            <span itemprop="name">Rodrigo Gomes</span>
                        </span>
                    </p>
                </a>
            </header>
            <a href="#" class="title" title="titulo do post">
                <h2>
                    <span itemprop="headline">
                        Aqui temos um post que fala sobre tudo menos is
                    </span>
                </h2>
            </a>
        </article>
        <article>
            <header>
                <img src="_img/post.jpg" alt="Aqui temos um post" title="Aqui temos um post">
                <a href="#" class="category" title="Categoria"><p>Categoria</p></a>
            </header>
            <a href="#" class="title" title="titulo do post"><h2>Aqui temos um post que fala sobre tudo menos is</h2>
            </a>
        </article>
        <article>
            <header>
                <img src="_img/post.jpg" alt="Aqui temos um post" title="Aqui temos um post">
                <a href="#" class="category" title="Categoria"><p>Categoria</p></a>
            </header>
            <a href="#" class="title" title="titulo do post"><h2>Aqui temos um post que fala sobre tudo menos is</h2>
            </a>
        </article>
        <article>
            <header>
                <img src="_img/post.jpg" alt="Aqui temos um post" title="Aqui temos um post">
                <a href="#" class="category" title="Categoria"><p>Categoria</p></a>
            </header>
            <a href="#" class="title" title="titulo do post"><h2>Aqui temos um post que fala sobre tudo menos is</h2>
            </a>
        </article>
    </section><!--main_blog-->
    <article class="main_optin">
        <div class="main_optin_content">
            <header>
                <h2>Quer receber todas as novidades diretamente em seu e-mail?</h2>
                <p>Informe seu e-mail no campo ao lado e clique em Enviar!</p>
            </header>
            <form>
                <input type="email" placeholder="Seu E-mail">
                <button>Enviar!</button>
            </form>
        </div><!--main_optin_content-->
    </article><!--main_optin-->
    <section class="main_benefits">
        <header class="main_benefits_content_header">
            <img src="../_img/logog3.png" alt="G3 Infotech - Sua conexão com o mundo"
                 title="G3 Infotech - Sua conexão com o mundo">
            <h1 class="icon-happy">Vantagens de ter seu site construído por nós</h1>
            <p>Trabalhando com muito carinho, dedicação e sempre dentro dos padrões mais modernos da WEB.
                Colocaremos
                juntos o seu site no topo dos buscadores mais usados pelo mundo!</p>
        </header>
        <div class="main_benefits_content">
            <article>
                <header>
                    <h2>Suporte especializado</h2>
                </header>
                <p>Podemos lhe atender 100% online através de e-mail, skype, whatsapp em reuniões para estarmos 100%
                    alinhados ao seu negócio</p>
            </article>
            <article>
                <header>
                    <h2>Sabemos como o seu negócio funciona</h2>
                </header>
                <p>Trabalhamos com os nichos de provedores de internet, auto escolas a mais de 5 anos, portanto sabemos
                    o que você precisa para a sua empresa.</p>
            </article>
            <article>
                <header>
                    <h2>Planos 100% alinhados ao mercado</h2>
                </header>
                <p>Nossos planos cabem em seu bolso e principalmente vão lhe trazer resultados.. Pois o nosso foco são
                    os seus clientes.</p>
            </article>
            <article>
                <header>
                    <h2>Nova idéia</h2>
                </header>
                <p>Trabalhamos com os nichos de provedores de internet e auto escolas a mais de 5 anos, portanto sabemos
                    o que você precisa para a sua empresa.</p>
            </article>
        </div><!--main_benefits_content-->
    </section><!--main_benefits-->
    <section class="main_welcome">
        <div class="main_welcome_content">
            <div class="main_welcome_content_left">
                <header>
                    <h1>Bem vindo a G3 Infotech</h1>
                    <p>O seu meio mais ágil para se conectar ao mundo</p>
                </header>
                <section class="main_welcome_socials">
                    <article>
                        <h2><a href="#" title="Nosso Facebook"><span class="icon-facebook2">Facebook</span></a></h2>
                    </article>
                    <article>
                        <h2><a href="#" title="Nosso Instagram"><span class="icon-instagram">Instagram</span></a></h2>
                    </article>
                    <article>
                        <h2><a href="#" title="Nosso YouTube"><span class="icon-youtube2">YouTube</span></a></h2>
                    </article>
                </section>
                <article class="main_welcome_content_left_text">
                    <header>
                        <h2>
                            Tudo o que você precisa para ser visto por seus clientes de uma forma prática e com
                            resultados
                            rápidos
                        </h2>
                    </header>
                    <p>
                        Desde 2013 atuando como provedor de internet, entregamos soluções práticas, testadas e sem
                        enrolações. Desde 2013 atuando como provedor de internet, entregamos soluções práticas, testadas
                        e sem
                        enrolações.
                    </p>
                    <p>
                        Desde 2013 atuando como provedor de internet, entregamos soluções práticas, testadas e sem
                        enrolações. Desde 2013 atuando como provedor de internet, entregamos soluções práticas, testadas
                        e sem
                        enrolações.
                    </p>
                </article>
            </div><!--main_welcome_content_left-->
            <div class="main_welcome_content_right">
                <img src="../_img/g3infotech.png" alt="G3 Infotech - Sua conexão com o mundo"
                     title="G3 Infotech - Sua conexão com o mundo">
            </div><!--main_welcome_content_right-->
            <article class="main_welcome_find_us">
                <header><h2><span class="icon-map2">Nos encontre</span></h2></header>
                <p>Avenida Maria Concebida Costa, 29 - Centro - Marcolândia/PI - +55 89 99463-0386</p>
            </article>
        </div><!--main_welcome_content-->
    </section><!--main_welcome-->
    <section class="main_content_author">
        <div class="main_content_author_context">
            <header>
                <h1>Conheça Rodrigo, o responsável por a G3 Infotech</h1>
                <p>Queremos lhe ajudar a conquistar muito mais clientes de uma forma escalável!</p>
            </header>
            <img src="../_img/rodrigo.png" alt="Rodrigo Gomes Araújo" title="Rodrigo Gomes Araújo">
            <h2>Formado em Análises de sistemas desde 2013 e apaixonado por desenvolvimento de sistemas</h2>
            <section class="main_content_author_socials">
                <header><h2>Me siga nas redes sociais</h2></header>
                <article>
                    <h2><a href="#" title="Meu Facebook">Facebook</a></h2>
                </article>
                <article>
                    <h2><a href="#" title="Meu Linkedn">Linkedn</a></h2>
                </article>
            </section>
        </div><!--main_content_author-->
    </section> <!--main_content_author-->
    <section>
        <header>
            <h1>Quer receber nosso conteúdo exclusivo? Promoções e muito mais.. Assine nossa lista VIP :)</h1>
        </header>
        <a href="#" title="Entre em nossa lista VIP">Entrar para lista VIP</a>
    </section>
    <section>
        <header>
            <h1>Quer saber mais?</h1>
        </header>
        <article>
            <header>
                <h2>Nossas Páginas</h2>
            </header>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </article>
        <article>
            <header>
                <h2>Links Úteis</h2>
            </header>
            <ul>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </article>
        <article>
            <header>
                <h2>Sobre nossos projetos</h2>
            </header>
            <ul>
                <li><a href="#">G3Web</a></li>
                <li><a href="#">G3Auto</a></li>
            </ul>
        </article>
    </section>
</main>
<footer>
    <p>Todos os Direitos Reservados a G3 Infotech ®</p>
</footer>
</body>
</html>